{% extends 'GlavBundle::layoutAdmin.html.twig' %}


{% block infoUserTop %}
    <h1>Crear Tipo de Servicio</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tiporubro') }}">
            Volver a la Lista Tipo de Servicios
        </a>
    </li>
</ul>
{% endblock %}
