{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}
    <h1>Crear Tipo Automotor</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipoautomotor') }}">
            Volver a la Lista Tipo de Automotor
        </a>
    </li>
</ul>
{% endblock %}
