{% extends 'frontend.html.twig' %}
{% block contenido %}
<div>
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        
                        </div>
                    </div>
                </div>
                
                <div class="container">
                  <div class="row">
                      <a href="{{ path('edu_camp_login') }}"> Regresar </a>   
                  </div>

                    <div>
						<h1>Crear Cargo</h1>

                        <div>
                            <div>  
								<form action="{{ path('apps_educam_admision_laboral_guardar') }}" method="post">
								{{ form_widget(form) }}
								<input type="hidden" id="idPersona" name="idPersona" value="{{ idPersona }}" />
								<br>
								<input type="submit" />
								</form>
                             </div>
                             <br>
                    </div>
                    
                </div>
                
            </div>
        </div>
{% endblock %}