{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}
    <h1>Crear Cargo</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cargo') }}">
            Volver a la lista
        </a>
    </li>
</ul>
{% endblock %}
