	{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}
    <h1>Prestamo creation</h1>

    {{ form(form) }}
    <div id="informacion">
    </div>
    
        <ul class="record_actions">
    <li>
        <a href="{{ path('prestamo') }}">
            Back to the list
        </a>
    </li>
</ul>
<script type="text/javascript">

window.onload = function() {
    $('#glavbundle_prestamo_id_empleado').on('change', function() {
    alert( $(this).find(":selected").val());
    servicioId = $(this).find(":selected").val();
    //$('#informacion').load('{{ path('prestamo_total') }}',
            //$('#dialogoBox').hide();
            $('#informacion').load('{{ path('prestamo_total') }}',{servicioId:servicioId},function()
            {
            });

});
}
</script>
{% endblock %}