{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}
    <h1>Editar Empleado</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('empleado') }}">
            Volver a la Lista Empleado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
