{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}
    <h1>Crear Empleado</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('empleado') }}">
            Volver a la Lista Empleado
        </a>
    </li>
</ul>
{% endblock %}
