{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}
    <h1>Editar Servicio</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('servicio') }}">
            Volver a la Lista de Servicios
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
