{% trans_default_domain 'GlavBundle' %}
{% extends 'GlavBundle::layoutAdmin.html.twig' %}



{% block infoUserTop %}

    <h1>Registrar Servicio</h1>
    {{ form(form) }}


        <ul class="record_actions">
    <li>
        <a href="{{ path('servicio') }}">
            Volver a la Lista de Servicios

        </a>
    </li>
</ul>

{% endblock %}
