{% extends 'GlavBundle::layoutAdmin.html.twig' %}


{% block infoUserTop %}
    <h1>Automotor creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('automotor') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
